body {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/criss-cross.png);
    color: #777777;
    background-color: #f1f1f1;
    min-height: 100%;
    clear: both;
    display: flex; 
    flex-direction: column;
  }

.wrapper {
    width: 960px; 
    padding: 20px; 
    margin: 0 auto; 
}

.v {
    background: #4aaaa5;
    font-weight: bold;
    color: white; 
}
.card {
    height: 280px;
    width: 190px; 
}

h4 {
    padding: 15px;
    margin-left: 40px;
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

  h6 {
    padding: 7px;
    color: white;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.navbar-light {
    background-color: white !important;
    padding-bottom: 0px; 
}

.navbar-brand {
    float: left; 
    position: relative;
    background-color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white !important; 
    padding: 10px; 
    margin-left:305px;
    margin-bottom: 0px;
    
 }

.container {
    position: relative;
    position: relative; 
    top: -6px; 
    height: 184px;
    width: 300px; 
    margin: 15px;
    padding: 10px;
    margin-right: -10px; 
    margin-top: -25px;
  }
p {
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
  bottom: 35px;
}
  
 
.text-block {
    position: absolute;
    width: 113%;
    height: 30px;
    bottom: 40px;
    left: 35px;
    color: white;
    background: #4aaaa5;
    text-align: center;
}

img {
    position: relative; 
    top: -6px; 
    height: 184px;
    width: 300px; 
    margin: 15px;
    padding: 10px;
    margin-right: -10px; 
    margin-top: -25px;
 }

 .river {
    position: relative;
    top: 0;
    height: 200px;
    width: 300;
    margin: 15px;
    padding: 10px;
    margin-right: -10px;
    margin-top: -25px;
}

.container1 {
    font-size: 12px; 
    background: white; 
    width: 960px;
    }

.contact {
    position: relative; 
    padding-left: 0px; 
}

b {
    font-size: 10px;
}

.container2 {
    font-size: 12px;
    background: white;
    width: 960px;
    padding: 10px;
    margin-top: 24px;
}

.grey {
    border-top: 8px solid #4aaaa5;
    background: #b0bec5;
}
@media query at end!